.ritz .waffle a {
	color: inherit;
}
.ritz .waffle .s2{
 border-bottom:1px SOLID #888888;
 border-right:1px SOLID #888888;
 background-color:#cccccc;
 text-align:left;
 font-weight:bold;
 text-decoration:underline;
 -webkit-text-decoration-skip:none;
 text-decoration-skip-ink:none;
 color:#000000;
 font-family:'arial';
 font-size:10pt;
 vertical-align:bottom;
 white-space:nowrap;
 direction:ltr;
 padding:2px 3px 2px 3px;
}
.ritz .waffle .s0{
 border-bottom:1px SOLID #aaaaaa;
 border-right:1px SOLID #888888;
 background-color:#cccccc;
 text-align:left;
 font-weight:bold;
 color:#000000;
 font-family:'arial';
 font-size:10pt;
 vertical-align:bottom;
 white-space:nowrap;
 direction:ltr;
 padding:2px 3px 2px 3px;
}
.ritz .waffle .s1{
 border-bottom:1px SOLID #aaaaaa;
 border-right:1px SOLID #888888;
 background-color:#cccccc;
 text-align:center;
 font-weight:bold;
 color:#000000;
 font-family:'arial';
 font-size:10pt;
 vertical-align:bottom;
 white-space:nowrap;
 direction:ltr;
 padding:2px 3px 2px 3px;
}
.ritz .waffle .s3{
 border-bottom:1px SOLID #888888;
 border-right:1px SOLID #888888;
 background-color:#cccccc;
 text-align:left;
 font-weight:bold;
 color:#000000;
 font-family:'arial';
 font-size:10pt;
 vertical-align:bottom;
 white-space:nowrap;
 direction:ltr;
 padding:2px 3px 2px 3px;
}
.ritz .waffle .s6{
 border-right:1px SOLID #888888;
 background-color:#dddddd;
 text-align:left;
 color:#000000;
 font-family:'arial';
 font-size:10pt;
 vertical-align:bottom;
 white-space:nowrap;
 direction:ltr;
 padding:2px 3px 2px 3px;
}
.ritz .waffle .s7{
 border-right:1px SOLID #888888;
 background-color:#dddddd;
 text-align:center;
 color:#000000;
 font-family:'arial';
 font-size:10pt;
 vertical-align:bottom;
 white-space:nowrap;
 direction:ltr;
 padding:2px 3px 2px 3px;
}
.ritz .waffle .s5{
 border-right:1px SOLID #888888;
 background-color:#ffffff;
 text-align:center;
 color:#000000;
 font-family:'arial';
 font-size:10pt;
 vertical-align:bottom;
 white-space:nowrap;
 direction:ltr;
 padding:2px 3px 2px 3px;
}
.ritz .waffle .s4{
 border-right:1px SOLID #888888;
 background-color:#ffffff;
 text-align:left;
 color:#000000;
 font-family:'arial';
 font-size:10pt;
 vertical-align:bottom;
 white-space:nowrap;
 direction:ltr;
 padding:2px 3px 2px 3px;
}
