/* font */
span, table {
	font-family: 'Montserrat', sans-serif;
}
/* hide scroll bar, but can still scroll */
::-webkit-scrollbar {
	display: none;
}

.navbar {
	background-color: #a3b18a;
}

.container {
	/* border: 1px solid; */
}

thead {
	word-break: break-word;
	#longey {
		word-break: break-all;
	}
}

span {
	display: table;
	margin: 0 auto;
}

/* footer link */
a:link {
	color: grey;
	text-decoration: none;
}
a:visited {
  color: grey;
}
a:hover {
	color: #a3b18a;
	text-decoration: none;
}