/* hide scroll bar, but can still scroll */
::-webkit-scrollbar {
	display: none;
}

thead {
	word-break: break-word;
	#longey {
		word-break: break-all;
	}
}

.navbar {
	background-color: #a3b18a;
}

span {
	display: table;
	margin: 0 auto;
}